<!DOCTYPE html>
<html lang="en">
<head>
<title>仁科之家|用户收货地址维护</title>
<!-- start: META -->
<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="" name="description" />
<meta content="cavion" name="author" />
<!-- end: META -->

<script data-main="userAddress.detail" src="/static/lib/require/require.js"></script>
<script type="text/javascript" src="/static/js/config.js"></script>
</head>

<body>
	<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title">用户收货地址信息</h3>
  		</div>
	  	<div class="panel-body">
	    	<form class="form-inline" id="infoAddressForm">
	    		<input type="hidden" name="id" id="id"/>
	    		<input type="hidden" name="area" id="area"/>
				<div class="form-group" id="province_div"></div>
				<div class="form-group" id="state_div" style="display: none;"></div>
				<div class="form-group" id="prefecture_div" style="display: none;"></div>
				
				<rk-input type="text" name="address" label="详细地址"></rk-input>
				<rk-input type="text" name="recivor" label="收货人" required="required"></rk-input>
				<rk-input type="text" name="cellphone" label="手机号"></rk-input>
				<rk-input type="text" name="phone" label="电话号码"></rk-input>
				<rk-input type="text" name="postcode" label="邮编"></rk-input>
				<rk-select field="isDefault" dicCode="SF" label="是否默认"></rk-select>
				<rk-select field="enabled" dicCode="SF" label="是否启用"></rk-select>
				<div class="form-group">
					<label class="control-label">备注</label>
					<textarea rows="2" cols="40" class="form-control" name="remark" id="remark"></textarea>
				</div>
			</form>
	  	</div>
	  	<div class="panel-footer" id="userAddressBtn">
	  	</div>
	</div>
</body>
</html>
